body { padding: 10px; }
div.exercise { font-size: 48px; padding: 50px; border: 1px dotted black; }
div.exercise input { font-size: 48px; width: 80px}
div.exercise div.evaluation { display: inline }

div.puzzleImage {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center
}

div.puzzle div.images { height: 120px; }
div.puzzle div.images div.thumbnail {
  cursor: pointer; border: 1px solid black;
  width: 50px; height: 50px;
  font-size: 35px; text-align: center; font-weight: bold;
  padding-top: 15px; margin: 10px; float: left;
}
div.puzzle div.images div.done { background-color: gray; color: white; }
div.puzzle div.images div.selected { border: 3px solid black; }

div.puzzle div.image { position: relative; top: 0px; }

/* div.puzzle div.image img.image {} */
div.puzzle div.image table { position: absolute; top: 0px; }

div.puzzle div.exercise { position: absolute; background-color: yellow; margin: 100px; }
div.puzzle table tr td { cursor: pointer; }
div.puzzle table tr td.hidden { background-color: white;}
div.puzzle table tr td.chosen { background-color: gray;}
div.puzzle div.fireworks { position: absolute; }
div.puzzle div.fireworks img { width: 600px; }

/* div.puzzle table tr td.hidden { border: 1px solid black } */